
.orange
{
    color: rgba(239, 102, 41, 0.96);
}

.green
{
    color: rgba(56, 173, 46, 0.92);
}

.blue
{
    color: rgba(34, 41, 121, 0.92);
}

.magenta
{
    color: rgba(119, 8, 8, 0.9);
}

.red
{
    color: rgba(234, 18, 18, 0.92);
}

.salad
{
    color: rgba(69, 248, 54, 0.92);
}

.violet
{
    color: rgba(92, 42, 186, 0.91);
}

.yellow
{
    color: #dbed4d;
}